

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, auto);
    padding: 150px;
    grid-row-gap: .5em;
  grid-column-gap: 1em;
}

.products ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.products li {

    border: 5px solid transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.cardFooter {
    background-color: transparent;
    border-top-color: transparent;
}

.cardBody {
    font-size: 16px;
}

.cardImg {
    width: 100%;
    height: auto;
}

.card {
    height: 100%;
}

.moreInfo {
    background-color: #d6d6d7;
    color: #1c2450;
}