.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, auto);    
    background-color: #fff;   
}

.products li {
    border: 5px solid transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.cardFooter {
    background-color: transparent;
    border-top-color: transparent;
}

.cardBody {
    font-size: 16px;
}

.cardImg {
    width: 100%;
    height: auto;
}

.card {
    height: 100%;
}

.moreInfo {
    background-color: #d6d6d7;
    color: #1c2450;
}


/* small devices */
@media(min-width: 576px){}
/* Medium devices */
@media(min-width: 768px){}
/* Large devices */
@media(min-width: 992px){}
/* X-Large devices */
@media(min-width: 1200px){}
/* XX-Large devices */
@media(min-width: 1400px){}