.search-wrapper {
    padding: 20px;
}

.search {
    margin: 2% 5px 5px;
}

.results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(autofill, auto);
    gap: 30px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    background-color: transparent;
}

.list {
}


.cardWrapper{
    padding: 100px
}

/* small devices */
@media(min-width: 576px){}
/* Medium devices */
@media(min-width: 768px){}
/* Large devices */
@media(min-width: 992px){}
/* X-Large devices */
@media(min-width: 1200px){}
/* XX-Large devices */
@media(min-width: 1400px){}