.hero {
    height: 80vh;
    background-color: #fff;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1);
    gap: 5px;
    padding: 1.25%;
}

.left-side {
    grid-column: 1;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-side {
    grid-column: 2/3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* small devices */
@media(min-width: 576px){}
/* Medium devices */
@media(min-width: 768px){}
/* Large devices */
@media(min-width: 992px){}
/* X-Large devices */
@media(min-width: 1200px){}
/* XX-Large devices */
@media(min-width: 1400px){}