.hero {
    height: 90vh;
    background-color: #fff;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1);
    gap: 5px;
    padding: 1.25%;
}

.left-side {
    grid-column: 1;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-side {
    grid-column: 2/3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-image {
    width: 90%;
    height: 85%;
}

/* small devices */
@media(min-width: 375px) and (max-width: 568px) {
    .hero {
        height: 80vh;
        background-color: #fff;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1);
        gap: 5px;
        /* padding: 1.25%; */
    }

    .left-side {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .right-side {
        grid-column: 1;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 100%;
    }
    .right-image {
        width: 100%;
        height: 100%;
    }
}
