.main-navigation {
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 1.45%;
    height: 100px;
}

.main-navigation.active {
    background-color: rgb(255,255,255, .94);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 999;
    padding: 1.45%;
    box-shadow: 0 8px 6px -6px #d6d6d7;
}

.main-navigation nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main-navigation ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.main-navigation li {
    margin: 0 1rem;
}

.main-navigation a {
    /* display: block; */
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #1c2450;
    border-radius: 5px;
}
.main-navigation a:active,
.main-navigation a:hover {
    background: #1c2450;
    color: #fff;
}

.logo {
    
    margin-top: 1%;
}

ul {
    margin: 0;
    padding: 0;
}

/* small devices */
@media(min-width: 375px) {}
/* Medium devices */
@media(min-width: 768px) {}
/* Large devices */
@media(min-width: 992px) {}
/* X-Large devices */
@media(min-width: 1200px) {}
/* XX-Large devices */
@media(min-width: 1400px) {}