.footerWrapper {
    position: relative;
    bottom: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(20px, auto);
    column-gap: 5px;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-image: url('../../assets/naviBack.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vh;
    padding: 25px 5px
}

.one {
    grid-column: 1/4;
    grid-row: 1;
}
.two {
    grid-column: 4/6;
    grid-row: 1;
}
.three {
    grid-column: 6/14;
    grid-row: 1;
}
.four {
    grid-column: 1/14;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    margin: 0;
}

.four p {
    color: #fff;
    font-size: 12px;
    margin: 0;
    
}

li {
    list-style: none;
}

.footerLinks {
    color: #fff;
    text-decoration: none;
}
.footerLinks:hover {
    color: #1c2450;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
}

.btn-dark {
    background-color: #1c2450;
}
.btn-dark:hover {
    background-color: #1c2450;
    color: #fff;
    border-color: transparent;
}
