.footerWrapper {
    position: relative;
    bottom: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(20px, auto);
    column-gap: 5px;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-image: url('../../assets/naviBack.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
    padding: 25px 5px;


    @media only screen and (max-width: 800px){
        position: relative;
        bottom: 0;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(autoFill, auto);
        column-gap: 5px;
        row-gap: 5px;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        background-image: url('../../assets/naviBackground.png'); 
        background-size: cover;
        background-repeat: no-repeat;
        height: 55vh;
    }
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;

    @media only screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; 
        height: 100%;
    }
}

.one {
    grid-column: 1/4;
    grid-row: 1;
    @media only screen and (max-width: 800px){
        grid-column: 1/6;
        grid: 1;
    }
}
.two {
    grid-column: 4/6;
    grid-row: 1;
    @media only screen and (max-width: 800px){
        grid-column: 1/6;
        grid-row: 2;
    }
}
.three {
    grid-column: 6/14;
    grid-row: 1;
    @media only screen and (max-width: 800px){
        grid-column: 1/6;
        grid-row: 3;
        padding: 10px;
        word-spacing: 4%;
    }
}
.four {
    grid-column: 1/14;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    @media only screen and (max-width: 800px){
        grid-column: 1/6;
        grid-row: 4;
    }
}

.four p {
    color: #fff;
    font-size: 12px;
    margin: 0;
    
}

li {
    list-style: none;
}

.footerLinks {
    color: #fff;
    text-decoration: none;
}
.footerLinks:hover {
    text-decoration: line-through;
    border-radius: 15px;
}

.btn-dark {
    background-color: #1c2450;
}
.btn-dark:hover {
    background-color: #1c2450;
    color: #fff;
    border-color: transparent;
}
